<!DOCTYPE html>
<html>
<head lang="en">
	{# 	{% load staticfiles %}#}
	{#	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">#}
	<meta charset="UTF-8">
	<title></title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	{# jquery before bootsrap#}
	<script src="{% static "jquery.js" %}"></script>
	<script src="{% static "bootstrap.min.js" %}"></script>
	{% block head %} {% endblock head %}
</head>
<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<ul class="nav navbar-nav">
		<li><a href="{% url 'akoidan_bio.views.home' %}">Home</a></li>
	    <li><a href="{% url 'akoidan_bio.views.requests' %}">10 requests</a></li>
		{% include log_in_out_page %}
		{% block navbar %}
		{% endblock navbar %}
		</ul>
	  </div>
	</nav>
</header>
<body>
{% block body %} {% endblock body %}
</body>
</html>