<!DOCTYPE html>
<html>
<head lang="en">
{# 	{% load staticfiles %}#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">#}
	<meta charset="UTF-8">
	<title></title>
    {% load staticfiles %}
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<script src="{% static "bootstrap.min.js" %}"></script>
	{%  block head %} {% endblock head %}
</head>
<body>
	<a href="{% url 'akoidan_bio.views.home' %}">TO MAIN</a><br>
	{% include log_in_out_page %}
 {% block body %} {%  endblock body %}
</body>
</html>