<li class="dropdown">
	<form method="post" action="{% url 'akoidan_bio.views.auth' %}">
	<a href="#" class="dropdown-toggle navbar-text" data-toggle="dropdown" role="button" aria-expanded="false">Sign in</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="loginDropDown">
				<li><input type="text" class="form-control" name="login" placeholder="login"></li>
				<li><input type="password" class="form-control" name="password" placeholder="password"></li>
				<li>
					<button type="submit">Log in</button>
				</li>
			</ul>
			{% csrf_token %}
	</form>
</li>
<li class="dropdown">
	<form method="post" action="{% url 'akoidan_bio.views.register' %}">
		<a href="#" class="dropdown-toggle navbar-text" data-toggle="dropdown" role="button" aria-expanded="false">Sign up</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="registerDropDown">
				<li><input type="text" class="form-control" name="username" placeholder="login"></li>
				<li><input type="password" class="form-control" name="password" placeholder="password">
				<li>
				<li>
					<button type="submit">register</button>
				<li>
			</ul>
			{% csrf_token %}
	</form>
</li>

